# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python cache / logs
*.log

# Large datasets and generated results
data/*.csv

# Main dataset required to reproduce the project
!data/btcusd_ml_v2.csv

# Local environment
.env